    body {
        margin: 0 auto;
    }
    
    .end {
        width: 100%;
        height: 720px;
        background-color: #ec77ab;
        background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
        position: absolute;
        top: 0;
        opacity: 0.4;
    }
    
    .main {
        /* opacity: 0.4; */
        background-repeat: initial;
        /* position: relative; */
    }
    
    .container-fluid {
        padding: 0px;
        padding-right: -120px;
    }
    
    .content {
        margin-left: 0px;
        display: flex;
        /* opacity: 0.6; */
        background-image: url(../Img/pexels-simon-migaj-747964.jpg);
        width: 100%;
        height: 720px;
        background-size: 100% 750px;
        background-repeat: initial;
        position: relative;
        animation-name: img;
        animation-duration: 12s;
        animation-delay: 2s;
        right: 0;
        animation-iteration-count: infinite;
    }
    
    .head-riht-top {
        display: flex;
    }
    
    @keyframes img {
        0% {
            /* background-image: url(/Img/pexels-photo-220453.jpeg); */
        }
        25% {
            background-image: url(../Img/pexels-daniel-xavier-1239291.jpg);
        }
        50% {
            background-image: url(../Img/pexels-simon-migaj-747964.jpg);
        }
        75% {
            background-image: url(../Img/pexels-kaique-rocha-109919.jpg);
        }
        100% {
            background-image: url(../Img/pexels-photo-220453.jpeg);
        }
    }
    
    .head-left {
        z-index: 1;
        width: 18%;
        height: 720px;
        backdrop-filter: blur(10px);
        color: aliceblue;
        background-color: #2C2D32;
        /* position: sticky; */
        top: 0;
    }
    
    .head-right {
        z-index: 1;
        width: 82%;
        height: 720px;
        background-size: 60% 600px;
        background-repeat: initial;
        /* opacity: 0.8; */
    }
    
    .navbar .navbar-brand {
        margin: 0 auto;
    }
    
    .head-right-content {
        text-align: center;
        width: 70%;
        height: 354px;
    }
    
    .navbar-brand img {
        height: 100%;
        width: 100%;
    }
    
    .nut i {
        cursor: pointer;
        height: 30px;
        width: 25px;
        font-size: 45px;
        z-index: 2;
        float: right;
        margin-right: 20px;
    }
    
    .nut {
        width: 30%;
        height: 354px;
        /* position: sticky; */
        /* backdrop-filter: blur(10px); */
        transition: all 0.4s ease;
        /* position: fixed; */
        /* overflow-y: hidden; */
        z-index: 1;
    }
    
    .nut li {
        list-style: none;
        margin-right: 100px;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        color: #ffff33;
        cursor: pointer;
        margin-right: 0px;
    }
    
    @keyframes example {
        0% {
            margin-left: -1600px;
            opacity: 0;
            /* position: absolute; */
        }
        /* 100% {
        0
    } */
    }
    
    .nut--select {
        transition: all 0.4s ease;
        animation-name: example;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-timing-function: ease;
        /* position: relative; */
    }
    
    .select-li {
        margin-left: 35%;
    }
    
    .nut li:hover {
        color: aqua;
    }
    
    .imgcrile {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-left: 10%;
        margin-bottom: 70px;
        /* background-image: url(/Img/118806951_2799144087030457_1866963405411381091_o.jpg); */
    }
    
    .imgcrile img {
        background-size: cover;
        background-size: 18% 18%;
        border-radius: 50%;
    }
    
    .navbar {
        margin-top: 298px;
        z-index: 1;
    }
    
    .nav-link {
        margin-left: 30px;
        font-size: 23px;
        font-style: italic
    }
    
    .nav-link:hover {
        height: 20px;
        font-size: 25px;
        color: aqua;
        font-family: "Sofia", sans-serif;
    }
    
    .stick {
        position: sticky;
    }
    
    .content-right {
        margin-top: 140px;
    }
    
    .content-right h1 {
        color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
    }
    
    .content-right p {
        color: antiquewhite;
        font-size: 25px;
        font-family: sofia-pro-condensed, sans-serif;
        font-style: normal;
        font-weight: 500;
    }
    
    .icon {
        margin-top: 10px;
        display: inline-block;
        width: 40px;
        height: 50px;
        margin-left: 10px;
    }
    
    .logoAndCoppy h2 {
        margin-right: 45px;
        margin-top: 20px;
        color: white;
    }
    
    .logoAndCoppy i {
        height: 30px;
        width: 25px;
        font-size: 25px;
        z-index: 2;
    }
    
    .logoAndCoppy i:hover {
        font-size: 40px;
    }
    
    .logoAndCoppy {
        margin-left: 10px;
    }
    
    .year {
        margin-top: 10px;
    }
    
    .project {
        margin-top: 50px;
        display: flex;
    }
    
    .odd {
        margin-right: -20px;
        height: 350px;
        width: 100%;
        /* position: absolute; */
        /* margin-top: 600px; */
        /* display: flex; */
        /* background-image: url(/Img/CV.jpg); */
        clear: both;
    }
    
    .odd-left {
        height: 350px;
        /* width: 29%; */
        border-right: 1px solid black;
        clear: both;
    }
    
    .odd-right {
        height: 350px;
        padding: 0px;
        word-wrap: break-word;
    }
    
    .row {
        margin: 0 auto;
    }
    
    .odd-gt {
        text-align: center;
        margin-top: 100px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-bottom: 5px solid orange;
        margin-left: 20px;
    }
    
    .mb-c {
        margin-left: 30px;
        margin-top: 30px;
    }
    
    .about-right-content {
        z-index: 1;
        /* position: relative; */
        text-align: center;
        margin-top: 100px;
        font-size: 22px;
        color: black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .content-right p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 30px;
    }
    
    .even {
        width: 100%;
        height: 350px;
        /* position: absolute; */
        /* margin-top: 950px; */
        /* display: flex; */
        background-color: #2C2D32;
        /* background-image: url(/Img/cv1.jpg); */
        background-repeat: inherit;
        color: aliceblue;
        /* // clip-path: polygon(3% 0, 86% 10%, 96% 97%, 9% 81%); */
    }
    
    .education-right-content {
        text-align: center;
        margin-top: 100px;
        font-size: 20px;
        color: orange;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .even-gt {
        margin-left: 20px;
        text-align: center;
        margin-top: 100px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-bottom: 5px solid orange;
    }
    
    .even-right {
        text-align: center;
        padding: 0px;
        padding-left: 20px;
        margin-top: 30px;
        display: flex;
    }
    
    .education-right p {
        font-family: " -apple-system, BlinkMacSystemFont", "Segoe UI", " Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: orange;
        font-size: 22.5px;
        text-align: center;
        justify-content: center;
    }
    
    .even-left {
        /* width: 30%; */
        border-right: 1px solid white;
    }
    
    .education-content-left {
        margin-bottom: 20px;
        text-align: center;
        width: 30%;
        z-index: 1;
        border-right: 5px solid orange;
    }
    
    .education-content-right {
        margin-bottom: 20px;
        width: 35%;
        border-right: 5px solid orange;
        text-align: center;
    }
    
    .education-content-detail a {
        text-align: center;
        margin-left: 10%;
    }
    
    .experience-right-content {
        color: black;
    }
    
    .icon {
        font-size: 40px;
    }
    
    .fl-wrap ul li {
        color: lavenderblush;
    }
    
    .fl-wrap {
        float: left;
        width: 100%;
        position: relative;
    }
    
    .fl-wrap-1 {
        width: 90%;
    }
    
    .policy-box {
        margin-top: 100px;
    }
    
    .subfooter {
        background-color: #444;
        height: 200px;
        color: white;
        font-family: 'Times New Roman', Times, serif;
        position: relative;
        text-align: center;
        font-size: 30px;
    }
    
    .w3-col.m6 {
        float: right;
        margin-top: 70px;
        width: 30%;
    }
    
     ::placeholder {
        background-color: #000;
        color: aliceblue;
        border: #000;
        padding: 0px;
    }
    
    .center {
        text-align: center;
    }
    
    .footer-contacts {
        margin-top: 70px;
        font-size: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #2C2D32;
        width: 50%;
        border-right: 3px solid orange;
    }
    
    button,
    input {
        overflow: visible;
        line-height: inherit;
    }
    
    .w3-half {
        width: 100%;
    }
    
    .w3-col input {
        width: 80%;
    }
    
    .w3-black,
    .w3-hover-black:hover {
        color: #fff!important;
        background-color: #000!important;
    }
    
    .fl-wrap li {
        list-style: none;
        margin: 5px;
    }
    
    .soft-right {
        font-size: 18px;
        margin-top: 100px;
    }
    
    @media (max-width: 576px) {
        body {
            margin: 0 auto;
        }
        .main {
            margin: 0 auto;
            width: 100%;
        }
        .even {
            height: 400px;
        }
        .odd {
            height: 400px;
        }
        .head-right-nav {
            display: none;
        }
        .head-left {
            position: relative;
            width: 100% !important;
        }
        .head-right {
            width: 0% !important;
        }
        .head-right-content {
            display: none;
            width: 0%;
            z-index: 99999;
        }
        .nut {
            font-size: 15px;
            width: 1%;
            position: absolute;
        }
        .select-li {
            margin-left: -100px;
        }
        .select-li ul {
            padding: 0px;
            margin-left: -30px;
        }
        .select-li li {
            font-size: 15px;
        }
        .projects {
            height: 600px;
        }
        .navbar-brand img {
            display: none;
        }
        .projects {
            height: auto !important;
        }
        .contact {
            height: 600px !important;
        }
        .fl-wrap {
            margin-top: 0px;
        }
        .subfooter {
            margin-top: 0px !important;
        }
        .year {
            padding-top: 40px;
        }
        .project-1 {
            padding-top: 40px;
        }
        .project {
            margin-top: 1px;
        }
        .project h2 {
            font-size: 20px;
        }
        .project a {
            font-size: 15px;
        }
        .project-right {
            height: 300px;
        }
        .imgcrile {
            margin-top: 150px;
            margin-left: 0px;
        }
        .footer-contacts li span {
            font-size: 14px;
        }
        .footer-contacts li a {
            font-size: 14px;
        }
        .contact {
            /* a */
            height: 450px !important;
        }
        footer {
            height: 200px;
        }
    }
    
    @media (min-width: 576px) {
        .projects {
            height: auto !important;
        }
        .head-right-nav {
            display: none;
        }
        .head-left {
            width: 30%;
        }
        .even {
            height: auto;
        }
        .odd {
            height: auto;
        }
    }
    
    @media (max-width: 768px) {
        .head-left {
            width: 40%;
        }
        body {
            margin: 0 auto;
        }
        .main {
            margin: 0 auto;
            width: 100%;
        }
        .even {
            height: auto;
        }
        .odd {
            height: auto;
        }
        .head-left {
            width: 50%;
        }
        .head-right {
            width: 50%;
        }
        .center {
            text-align: center;
        }
        .imgcrile {
            margin-left: 0px;
            text-align: center;
            width: 100%;
        }
        .odd-left {
            border-right: 0px;
            height: 200px;
        }
        .odd-gt {
            margin-top: 70px;
        }
        .even-gt {
            margin-top: 70px;
        }
        .even-gt h2 {
            font-size: 20px;
        }
        .odd-gt h2 {
            font-size: 20px;
        }
        .about-right-content {
            margin-top: 20px;
            font-size: 15px;
        }
        .odd-right {
            font-size: 15px;
            /* height: 200px; */
        }
        footer {
            padding: 0px;
            ;
        }
        .row>* {
            flex-shrink: 0;
            width: 100%;
            max-width: 100%;
            padding-right: 0px !important;
            padding-left: 0px !important;
            margin-top: var(--bs-gutter-y);
        }
        .education-right {
            font-size: 20px;
            height: 200px;
            margin-top: 10px;
        }
        .education-right-content {
            margin-top: 20px;
        }
        .education-content-detail a {
            margin-left: 5px;
        }
        .education-right p {
            font-size: 15px;
        }
        .education-content-left {
            margin-bottom: 20px;
            text-align: center;
            width: 30%;
            z-index: 1;
            border-right: 5px solid orange;
        }
        .education-content-right {
            margin-bottom: 20px;
            width: 35%;
            border-right: 5px solid orange;
            text-align: center;
        }
        .education-content-detail a {
            text-align: center;
        }
        .nut i {
            display: block !important;
        }
        .w3-half {
            width: 100%;
        }
        .w3-col input {
            width: 100%;
        }
        .experience {
            height: 500px;
        }
        .mb-c {
            margin-bottom: 20px;
            height: 90px;
            margin-left: 0px;
            margin-top: 0px;
        }
        .experience-left {
            height: 140px;
        }
        .experience-gt {
            margin-top: 70px;
        }
        .experience-right .icon {
            text-align: center;
            height: 40px;
            width: 40px;
        }
        .experience-right {
            margin-top: -30px;
        }
        .icon svg {
            height: 20px;
            width: 25px;
        }
        .description h4 {
            font-size: 15px;
        }
        .soft-right {
            font-size: 15px;
            margin-top: 20px;
        }
        footer {
            padding: 0px;
        }
        .select-li {
            margin-left: -60px;
        }
        .select-li li {
            font-size: 25px;
        }
        .content-right p {
            font-size: 20px;
        }
    }
    
    .content {
        width: 100%;
    }
    
    @media (min-width: 992px) {
        .content {
            width: 100% !important;
        }
        .head-left {
            width: 30% !important;
        }
        .head-right {
            width: 70%;
        }
        .odd {
            height: auto;
        }
        .even {
            height: auto;
        }
        .head-right-nav {
            display: block;
        }
        .navbar {
            margin-top: 310px;
        }
        .navbar-nav li a {
            font-size: 16px;
        }
    }
    
    @media (min-width: 992px) {
        .odd {
            height: auto;
        }
        .even {
            height: auto;
        }
        .head-left {
            width: 18%;
        }
        .head-right-nav {
            display: block;
        }
    }
    
    @media (min-width: 1200px) {
        .logo-left {
            height: 300px;
        }
        .navbar {
            margin-top: 297px;
        }
        .navbar-nav li a {
            font-size: 25px;
        }
        .center {
            text-align: center;
        }
        .head-left {
            width: 48%;
        }
        .imgcrile {
            width: 150px;
            height: 150px;
            margin-left: 25%;
            /* background-image: url(/Img/118806951_2799144087030457_1866963405411381091_o.jpg); */
        }
    }
    
    .even {
        height: 350px;
    }
    
    @media (min-width: 1600px) {
        .imgcrile {
            width: 150px;
            height: 150px;
            margin-left: 30%;
            /* background-image: url(/Img/118806951_2799144087030457_1866963405411381091_o.jpg); */
        }
        .logo-left {
            height: 350px;
        }
        .end {
            height: 935px;
            background-repeat: no-repeat;
            background-size: auto;
        }
        .content {
            height: 935px;
        }
        .head-right {
            height: 935px;
        }
        .head-left {
            height: 935px;
        }
        .navbar {
            margin-top: 512px;
        }
    }